@model CommonLayer.User.UserpostModel


@*<h1>Create</h1>
*@

<div class="logoSection">
    <div>
        <img src="/assets/logo.png"/>
    </div>
    <div>
        <h5 style="color: #91b500; ">EMPLOYEE</h5>
        <h5 style="color: #403e3e; ">PAYROLL</h5>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-8 dataTable">
        <h4>Employee Payroll Form</h4>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <input asp-for="EmployeeId" class="form-control" />
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="profileImage" class="control-label"></label>
                <input asp-for="profileImage" class="form-control" />
                <span asp-validation-for="profileImage" class="text-danger"></span>
            </div>*@

             <div class="form-group">
                <label class="control-label" asp-for="profileImage">Profile Image</label>
                <div class="profile-radio-content profile-control">
                   @Html.RadioButtonFor(model => model.profileImage, "/assets/m1.png")
                        <img class="image" src="/assets/m1.png"/>
                     @Html.RadioButtonFor(model => model.profileImage, "/assets/fm1.png")
                        <img class="image" src="/assets/fm1.png"/>
                    @Html.RadioButtonFor(model => model.profileImage, "/assets/m2.png")
                        <img class="image" src="/assets/m2.png"/>
                    @Html.RadioButtonFor(model => model.profileImage, "/assets/fm2.png")
                        <img class="image" src="/assets/fm2.png"/>
                </div>
             
            </div>

            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
               @* <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>*@
                <div class="genderSection">
                     <input asp-for="Gender" type="radio" id="male" name="gender" value="male">
                     <label asp-for="Gender" class="text" for="male">Male</label>
                     <input asp-for="Gender" type="radio" id="female" name="gender" value="female">
                     <label asp-for="Gender" class="text" for="female">Female</label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <input asp-for="Department" class="form-control" />
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="salary" class="control-label"></label>
                <input asp-for="salary" type="number" class="form-control" />
                <span asp-validation-for="salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="startDate" class="control-label"></label>
                <input asp-for="startDate" class="form-control" />
                <span asp-validation-for="startDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="notes" class="control-label"></label>
                <input asp-for="notes" class="form-control" style="height:100px" />
                <span asp-validation-for="notes" class="text-danger"></span>
            </div>
            <div class="form-group  button-content">
                <input  type="submit" value="Create" class="btn btn-primary" />

                 <input asp-action="Index" type="submit" value="Back to List" class="btn btn-primary ml-auto" />

            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
